<%- include ('partials/head/head.ejs') %>
<body>
    <div class="container-principal">
        <%- include ('partials/header/header.ejs') %>
        <main>

        </main>
    </div>
</body>
<%- include ('partials/footer/footer.ejs') %>