.container-principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: black;
}

main {
    background-color: yellow;
}